# Игнорировать всё
*

# Но разрешить эти типы файлов
!math.h
!main.c
!math.c
!makefile
!README.md
!LICENSE
!NOTICE
!.gitignore
!.github/
!.github/workflows/
!.github/workflows/*
!Plus/
!Plus/*
# Игнорировать
